diffoffset=51
diffm2=31
diffm4=31
difflcext=1

tstep = 3

inputfilelow = data/paths2_0of1.bin
inputfilehigh = data/paths8_0of1.bin

#maxcond =192
maxcond = 200
#maxcond = 194
#maxcond = 225

## splitmode
## 0=upperpath sorted
## 1=upperpath random <= ? best for fast results and good performance ?
## 2=lowerpath sorted <= best overal performance
## 3=lowerpath random
splitmode=3

tunnelconditionsfile = data/tunnels.txt.bin.txt.bz2

threads = -1
